[main]
debug = True
help_email =

[postgres]
USER = postgres
PASSWORD =
DATABASE = ag_test
HOST = localhost
PORT = 5432

[tornado]
PORT = 7777

[email]
HOST = localhost
PORT = 465
SSL = False
USERNAME =
PASSWORD =