[main]
debug = True
help_email =
# Path to the base directory where the data files are going to be stored
base_data_dir = ./knimin/tests/data
# Path to the logging directory
BASE_LOG_DIR = /tmp
ATTEMPT_GEOCODE = False

[postgres]
USER = postgres
PASSWORD =
DATABASE = ag_test
HOST = localhost
PORT = 5432

[tornado]
PORT = 7777

[email]
HOST = localhost
PORT = 465
SSL = False
USERNAME =
PASSWORD =

[jira]
# note that passkey supersedes username/password, blank to ignore
HOST = http://127.0.0.1:2990/jira
USERNAME = admin
PASSWORD = admin
PASSKEY =

[vioscreen]
USER = test
PASSWORD = test
REGISTRATION = test

[qiita]
QIITA_HOST = test
QIITA_PORT = 21174
QIITA_CLIENT_ID = test
QIITA_CLIENT_SECRET = test
QIITA_CERT = test
QIITA_STUDY_ID = 1

