{% extends logged_in_index.html %}
{% block content %}
<h3>Edit AG Kit</h3>
{% if kitinfo is not None %}
<form method="post" action="/ag_edit_kit/" name="agForm" id="agForm">
    <input type="hidden" name="ag_kit_id" id="ag_kit_id" value="{{kitinfo['ag_kit_id']}}">
    <table>
    
        <tr><td>Kit Owner</td><td><input type="text" name="email" id="email" value="{{email}}" disabled style="background-color:#ccc;"></td></tr>
        <tr><td>Kit Verified</td><td><input type="text" name="kit_verified" id="kit_verified" value="{{kitinfo['kit_verified']}}" disabled style="background-color:#ccc;"></td></tr>
        <tr><td>Kit ID</td><td><input type="text" name="kitid" id="kitid" value="{{kitinfo['supplied_kit_id']}}"></td></tr>
        <tr><td>Kit Password</td><td><input type="text" name="kit_password" id="kit_password" value="{{kitinfo['kit_password']}}"></td></tr>
        <tr><td>Number of Swabs</td><td><input type="text" name="swabs_per_kit" id="swabs_per_kit" onkeypress='validateNumber(event)' value="{{kitinfo['swabs_per_kit']}}"></td></tr>
        <tr><td>Kit Verification Code</td><td><input type="text" name="kit_verification_code" id="kit_verification_code" value="{{kitinfo['kit_verification_code']}}"></td></tr>
        <tr><td></td><td><input type="button" onclick="validateAGForm();" value="Submit"></td></tr>

    </table>
</form>
{% elif response == 'Good' %}
Kit was updated successfully
{% elif response == 'Bad' %}
Error Updating Kit Info
{% end %}
{% end %}