{% extends logged_in_index.html %}
{% block head %}
{% from json import dumps %}
<script type="text/javascript">
    $(document).ready(function() {
        $("#create_barcodes").hide();
        $(".chosen-select").chosen({'width': '100%'});
{% if newbc %}
        var dummy = new iframeform('/ag_new_barcode/download/');
        dummy.addParameter('barcodes', {% raw dumps(newbc) %});
        dummy.send();
{% elif assignedbc %}
        var dummy = new iframeform('/ag_new_barcode/assigned/');
        dummy.addParameter('barcodes', {% raw dumps(assignedbc) %});
        dummy.addParameter('projects', '{% raw assign_projects %}');
        dummy.send();
{% end %}
    });

    function showhide(item) {
        jq_item = $("#" + item);
        if(jq_item.is(":visible")) {
            jq_item.hide();
            $("#" + item + "_link").text("Show");
        } else {
            jq_item.show();
            $("#" + item + "_link").text("Hide");
        }
    }
</script>
<style>
.right-td {
    text-align: right;
    font-weight: bold;
}
</style>
{% end %}

{% block content %}
<h3>{{msg}}</h3>
<h3 style="display:inline;">Add Barcodes</h3> <a href="#" onclick="showhide('create_barcodes')" id="create_barcodes_link">Show</a><br/>
<div id="create_barcodes">
    <form method="post" action="/ag_new_barcode/" name="agCreateForm" id="agCreateForm">
    <input type="hidden" name="action" value="create">
        <table>
            <tr><td class="right-td">Number of barcodes to create</td>
            <td><input type='number' name='numbarcodes' value="0" min="1" max="10000" maxlength="7" size="7"></td></tr>
            <tr><td><input type="submit"></td>
            <td></td></tr>
        </table>
    </form>
</div>

<h3 style="display:inline;">Assign Barcodes</h3> <a href="#" onclick="showhide('assign_barcodes')" id="create_barcodes_link">Hide</a><br/>
<div id="create_barcodes">
    <form method="post" action="/ag_new_barcode/" name="agAssignForm" id="agAssignForm">
    <input type="hidden" name="action" value="assign">
        <table>
            <tr><td class="right-td">Existing project(s) to attach barcodes to</td>
            <td>
            <select id="create-select-project" name="projects" multiple class="chosen-select">
                {% for p in projects %}
                <option value='{{p}}'>{{p}}</option>
                {% end %}
            </select>
            </td></tr>
            <tr><td class="right-td">New project to attach barcode to (optional)</td>
            <td><input type='text' name='newproject' value=''></td></tr>
            <tr><td class="right-td">Number of barcodes ({{remaining}} unassigned)</td>
            <td><input type='number' name='numbarcodes' value="0" min="1" max="10000" maxlength="7" size="7"></td></tr>
            <tr><td><input type="submit"></td>
            <td></td></tr>
        </table>
    </form>
</div>
{% end %}
