{% extends logged_in_index.html %}
{% block head %}
<script type="text/javascript">
    $(document).ready(function() {
        $("[value='American Gut Project']").prop('selected', true);
        $(".chosen-select").chosen({'width': '500px'});

        // http://stackoverflow.com/a/7961934
        $(".tr_clone_add").on('click', function() {
            var $tr    = $('.tr_clone:last');
            var $clone = $tr.clone();
            $clone.find(':input').val('');
            $tr.after($clone);
        });

        $(".tr_clone_rem").on('click', function() {
            if($('.tr_clone').length > 1) {
                $('.tr_clone:last').remove();
            }
        });
    });

    function validate() {
        var empties = $('.important-nums').filter(function () {
            return $.trim($(this).val()) == '';
        });
        if (empties.length) {
            alert('Must fill all swab and kit fields!');
            return false;
        }
        return confirm("Are you sure you want to create the kits?");
    }

    function build_submit() {
        $("#msg").text("")
        $("#submit-create").prop("disabled", true);
        if (!validate()) {
            $("#submit-create").prop("disabled", false);
            return false;
        }

        $("#msg").text("Please wait for file to download");
        $.post("/ag_new_kit/", $("#agForm").serialize())
          .done(function(data) {
            barcodes = $("#num-barcodes").text();
            $("#num-barcodes").text(+barcodes - data.kitinfo.length);
            $("#submit-create").prop("disabled", false);
            // Build and download the kit information
            var dummy = new iframeform('/ag_new_kit/download/');
            dummy.addParameter('kitinfo', JSON.stringify(data.kitinfo));
            dummy.addParameter('fields', data.fields);
            dummy.send();
          })
          .fail(function() {
            $("#msg").text("Error creating kits. Please try again later.");
          });
        return false;
    }
</script>
{% end %}

{% block content %}
<iframe id="download" width="1" height="1" style="display:none"></iframe>
<h3 id="msg"></h3>
<h3>Add AG Kit</h3>
<form name="agForm" id="agForm">
<table>
    <tr><td style="width:150px">
        <label for="tag">Tag: </label><input type="text" name="tag" id="tag" style="width:5em" maxlength="3">
    </td><td style="display: inline">
        <label for="project">Projects: </label>
        <select id="create-select-project" name="projects" multiple class="chosen-select">
            {% for p in projects %}
            <option value='{{p}}'>{{p}}</option>
            {% end %}
        </select>
    </td></tr>
</table>
<table id="kit-table">
    <tr><td colspan="2"><span id="num-barcodes">{{remaining}}</span> unassigned barcodes</td></tr>
    <tr><td># of swabs</td><td># of kits</td></tr>
    <tr class="tr_clone"><td>
        <input type="integer" name="swabs" min="1" class="important-nums swabs" style="width:5em">
    </td><td>
        <input type="integer" name="kits" min="1" class="important-nums kits" style="width:5em">
    </td></tr>
</table>
<p><a href="#" class="tr_clone_add">Add another kit type</a> | <a href="#" class="tr_clone_rem">Remove last kit type</a></p>
</form>
<button id="submit-create" onclick="build_submit()">Submit</button>
{% end %}