{% extends logged_in_index.html %}
{% block content %}

{% if response is None %}
<form name="agForm" id="agForm" method="post" action="/ag_new_participant/">
    <table>
        <tr><td>Email</td><td><input type="text" name="email" id="email"></td></tr>
        <tr><td>Name</td><td><input type="text" name="name" id="name"></td></tr>
        <tr><td>Address</td><td><input type="text" name="address" id="address"></td></tr>
        <tr><td>City</td><td><input type="text" name="city" id="city"></td></tr>
        <tr><td>State</td><td><input type="text" name="state" id="state"></td></tr>
        <tr><td>Zip</td><td><input type="text" name="zipcode" id="zipcode"></td></tr>
        <tr><td>Country</td><td><input type="text" name="country" id="country"></td></tr>
        <tr><td></td><td><input type="button" onclick="validateAGSingleSubmitForm()" value="Submit"/></td></tr>
    </table>
</form>
{%elif response == 'Good' %}
    Participant Added
{%elif response == 'Bad' %}
    Error Adding Participant
{% end %}
{% end %}