{% extends logged_in_index.html %}
{% block head %}
{% from json import dumps %}
<script type="text/javascript" src="/static/js/labmin.js"></script>
<script type="text/javascript" src="/static/vendor/js/jquery.validate.min.js"></script>
<style>
p {
  font-weight: bold;
}
</style>
<script type="text/javascript">
    function updateEBI() {
      $("#ebi-button").attr('disabled','disabled');
      $("#ebi-msg").text('Working...');
      $.get('/update_ebi/')
        .done( function ( data ) {
          $("#ebi-msg").text(data);
          $("#ebi-button").removeAttr('disabled');
        })
        .fail(function () {
            $("#ebi-msg").text("ERROR: Server error. Please contact an admin.");
            $("#ebi-button").removeAttr('disabled');
          });
    }

    function updateReady() {
      if (confirm("Are you sure you want to update results ready?")) {
        $("#ready-button").attr('disabled','disabled');
        $("#ready-msg").text('Working...');
        $.post('/update_ready/')
          .done( function ( data ) {
            $("#ready-msg").text(data);
            $("#ready-button").removeAttr('disabled');
          })
          .fail(function () {
            $("#ready-msg").text("ERROR: Server error. Please contact an admin.");
            $("#ready-button").removeAttr('disabled');
          });
        }
    }

    $(document).ready(function() {
      $('#agForm').validate({
        rules: {
          filearg: {
            required: true
          }
        }
      });
  {% if barcodes %}
      var dummy = new iframeform('/ag_pulldown/download/');
      dummy.addParameter('barcodes', '{{barcodes}}');
      dummy.addParameter('blanks', '{{blanks}}');
      dummy.addParameter('external', '{{external}}');
	       slist = [
	       {% for s in agsurveys %}
	       {% if s[2] == True %}
	       {{s[0]}},
	       {% end %}
	       {% end %}
	       ];
	    dummy.addParameter('selected_ag_surveys', slist);
	    dummy.addParameter('merged', '{{merged}}');
      dummy.send();
  {% end %}
    });
</script>

{% end %}

{% block content %}
<h3>Update EBI status of barcodes</h3>
<p><button onclick="updateEBI()" id="ebi-button">Click Here to update EBI</button><span id="ebi-msg"></span></p>
<h3>Update results ready for barcodes</h3>
<p><button onclick="updateReady()" id="ready-button">Click Here to update db for new results ready</button><span id="ready-msg"></span></p>
{% if barcodes %}
<h3 style="color:red">Pulldown Processing, please wait for file download. It may take a while with many barcodes.</h3>
{% end %}
<h3>Metadata Pulldown</h3>
<form enctype="multipart/form-data" action="/ag_pulldown/" name="agForm" id="agForm" method="post">
<p>Upload qiime mapping file, or other file with first line header and one barcode per line</p>
<p>Barcodes File <input type="file" name="barcodes" id="barcodes"/></p>
<p>American Gut Surveys:
  <div>Select which American Gut surveys shall be included in the pulldown archive. <br/>Add 'all in one file' if you also want to have one addition file<br/>that contains all available columns from all American Gut surveys.</div>
  <select name="agsurveys" id="agsurveys" multiple />
  {% for s in agsurveys %}
  {% if s[2] %}
  <option value='{{s[0]}}' selected>{{s[1]}}</option>
  {% else %}
  <option value='{{s[0]}}'>{{s[1]}}</option>
  {% end %}
  {% end %}
  </select>
</p>

</p>
<p>External Survey
  <div>Select which external surveys should be included in the pulldown archive.</div>
  <select name="external" id="external" multiple />
  {% for s in surveys %}
  <option value='{{s}}'>{{s}}</option>
  {% end %}
  </select>
</p>
{% if merged == 'True' %}
<input type="checkbox" name="merged" value="True" checked>Add file containing columns of all selected surveys<br>
{% else %}
<input type="checkbox" name="merged" value="True">Add a file &quot;surveys_merged_md.txt&quot; that will contain columns of all selected surveys.<br>
{% end %}
<p><input type="submit" {%if barcodes%}disabled{% end %}></p>
<div style='color:red;'>{% raw errors %}</div>
</form>
{% end %}
