{% extends logged_in_index.html %}
{% block head %}
{% from json import dumps %}
<style>
p {
	font-weight: bold;
}
</style>
	{% if barcodes %}
<script type="text/javascript">
    $(document).ready(function() {
      $('#download').attr('src', '/ag_pulldown/download/?barcodes={{barcodes}}');
    });
</script>
  {% end %}

{% end %}

{% block content %}
<iframe id="download" width="1" height="1" style="display:none"></iframe>
<h3>Metadata Pulldown</h3>
<p>Before pulldown, remember to update lat/long. <a href="/ag_update_geocode/">Click here</a> to go to the page.</p>

<p>Upload qiime mapping file, or other file with first line header and one barcode per line</p>
<form enctype="multipart/form-data" action="/ag_pulldown/" name="agForm" id="agForm" method="post">
<p>File: <input type="file" name="filearg" /></p>
<p><input type="submit"></p>
</form>
<iframe id="download" width="250" height="100" frameBorder="0" src="about:blank"></iframe>
{% end %}