{% extends logged_in_index.html %}
{% block head %}
{% from json import dumps %}
<script type="text/javascript" src="/static/js/labmin.js"></script>
<script type="text/javascript" src="/static/vendor/js/jquery.validate.min.js"></script>
<style>
p {
  font-weight: bold;
}
</style>
<script type="text/javascript">
    $(document).ready(function() {
      $('#agForm').validate({
        rules: {
          filearg: {
            required: true
          }
        }
      });
  {% if barcodes %}
      var dummy = new iframeform('/ag_pulldown/download/');
      dummy.addParameter('barcodes', '{{barcodes}}');
      dummy.addParameter('blanks', '{{blanks}}');
      dummy.send();
  {% end %}
    });
</script>

{% end %}

{% block content %}
{% if barcodes %}
<h3 style="color:red">Pulldown Processing, please wait for file download. It may take a while with many barcodes.</h3>
{% end %}
<h3>Metadata Pulldown</h3>
<form enctype="multipart/form-data" action="/ag_pulldown/" name="agForm" id="agForm" method="post">
<p>Upload qiime mapping file, or other file with first line header and one barcode per line</p>
<p>Barcodes File <input type="file" name="barcodes" id="barcodes"/></p>
<p><input type="submit" {%if barcodes%}disabled{% end %}></p>
</form>
{% end %}