{% extends logged_in_index.html %}
{% block head %}
<script src="/static/vendor/js/chosen.jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/vendor/css/chosen.css">
<script type="text/javascript">
  $(function() {
    $(".chosen-select").chosen();
    $(".date-picker").datepicker({
      changeMonth: true,
      changeYear:true,
      minDate: '-4m',
      maxDate: '-0',
      onSelect: function(dateText, inst) {
          $(this).focus();
      }
    });
  });

function update_qiita_buffer(data, status) {
    // update the buffer sending status and the buffer level
    document.getElementById("qiita_buffer_status").innerHTML = "Send status: " + data['status'];
    document.getElementById("qiita_buffer_level").innerHTML = "Samples queued: " + data['barcodes'].length;
    console.log(status);
}

function immediate_update_qiita_buffer() {
    // immediate update of buffer and status
    $.get("/notify-qiita/", function(data, status) {
        data = JSON.parse(data);
        update_qiita_buffer(data, status);
	} );
}

function submit_qiita_buffer() {
    // issue a request to the knimin server to push data to qiita
    $.post("/notify-qiita/", function(data, status) {
        console.log("POST /notify-qiita/");
        console.log(data);
        console.log(status);
	} );
    immediate_update_qiita_buffer();
}

(function poll() {
    // poll for buffer and submission status on a 5 second interval
    setTimeout(function() {
        $.ajax({
            url: "/notify-qiita/",
            type: "GET",
            success: function(data, status) {
                console.log("polling");
                update_qiita_buffer(data, status);
            },
            dataType: "json",
            complete: poll,
            timeout: 5000
        })
    }, 5000);
})();

immediate_update_qiita_buffer();

</script>
{% end %}

{% block content %}
{% from datetime import date %}

<h3>Barcode Scanner </h3>
{% if msgs is not None %}
<p> {{msgs[0]}} </p>
{% if msgs[3] is not None %}
<p> {{msgs[3]}} </p>
{% end %}
{% if msgs[1] is not None %}
<p> {{msgs[1]}} </p>
{% end %}
{% if msgs[2] is not None %}
<p> {{msgs[2]}}
{% end %}
{% end %}
<div>
<form name="check_barcode" action="/barcode_util/" method="get">
    <input id="barcode" name="barcode" type="text" onclick="this.select()" />
    <input type="submit" value="Check Barcode" />
    <script>
        document.check_barcode.barcode.focus()
    </script>
</form>
</div>

<div id="qiita_buffer_window">
	<h3 id="qiita_buffer_level">Samples queued: refreshing...</h3>
    <h3 id="qiita_buffer_status">Send status: refreshing...</h3>
	<h3 class="qiita_buffer_warning_text">
		Note: queued samples will be inaccessible to LabControl <br>
	</h3>
	<button onClick="submit_qiita_buffer()">Send to Qiita</button>
</div>

{% if barcode is not None%}
<div id="{{div_and_msg[0]}}" class="verification_color">
           <div>
              <br />
                <h2 class="verification_text">
                 Project type: {{parent_project}} <br><br>
                 Subprojects: {{ barcode_projects }} <br><br>
                 Barcode: {{div_and_msg[2]}}<br><br>
                {{div_and_msg[1]}}</h2>
            </div>
        </div>

{% if barcode_info is not None and len(barcode_info) > 0%}
<div id="barcode_form">

        <form action="/barcode_util/" method="post"
         onsubmit="return confirm('Are you sure you want to submit and update database?')"
         onreset="return confirm('Are you sure you want to reset?')">
          <input type="hidden" name="barcode" value="{{barcode}}" />
          <input type="hidden" name="parent_project" id="parent_project" value="{{parent_project}}"/>
          <ul>
          <table cellspacing="40"><tr><td>
          <h2> General Barcode Details </h2>
            <li>
               Sample postmark date (current: {{barcode_info['sample_postmark_date']}}) : <br />
                  <input type="text" name="postmark_date" id="postmark_date" value="{% raw barcode_info['sample_postmark_date'] if barcode_info['sample_postmark_date'] is not None else '' %}"
                   onclick="this.select()" class="date-picker"/> <br />
                  (please follow the format mm/dd/yyyy. Example: 12/25/2012)
             </li>
             <li>
               Scan date (current: {{barcode_info['scan_date']}}): <br />
               {% set scandate = barcode_info['scan_date'] %}
               {% if scandate == None %} {% set scandate = date.today().strftime('%m/%d/%Y') %} {% end %}
               <input type="text" name="scan_date" id="scan_date" value="{{scandate}}" class="date-picker" onclick="this.select()"/> <br />
                  (please follow the format mm/dd/yyyy. Example: 12/25/2012)
             </li>
             <li>
             Barcode Status:<br /><select name="bstatus" id="bstatus">

        {% for bstatus in ['Recieved', ''] %}
            {% if bstatus == barcode_info['status'] %}
                <option value="{{bstatus}}" selected>{{bstatus}}</option>
            {% else %}
                <option value="{{bstatus}}">{{bstatus}}</option>
            {% end %}
        {% end %}


             </select></li>
             <li>Biomass Remaining: <br /><select name="biomass_remaining" id="biomass_remaining">

        {% for bmass, option_name in [('N', 'No'), ('Y', 'Yes'), ('Unknown', 'Unknown')] %}
            {% set selected = 'selected' if bmass == barcode_info['biomass_remaining'] else '' %}
            <option value="{{bmass}}" {{selected}}>{{option_name}}</option>
        {% end %}

             </select></li>
             <li>Sequencing Status<br /><select name="sequencing_status" id="sequencing_status">

        {% for sstatus in ['WAITING', 'SUCCESS', 'FAILED_SEQUENCING', ''] %}
            {% set selected = 'selected' if sstatus == barcode_info['sequencing_status'] else '' %}
            <option value="{{sstatus}}" {{selected}}>{{sstatus}}</option>
        {% end %}

        </select></li>
             <li>Obsolete<br /><select name="obsolete_status" id="obsolete_status">

        {% if barcode_info['obsolete'] == 'N' %}
          <option value="N" selected>No</option>
          <option value="Y">Yes</option>
        {% else %}
          <option value="N">No</option>
          <option value="Y" selected>Yes</option>
        {% end %}

             </select></li>
             <li>
             Project <br /><select name="project" id="project" class="chosen-select" multiple>
        {% for project in project_names %}
            {% if project in barcode_projects %}
                <option value="{{project}}" selected>{{project}}</option>
            {% else %}
                <option value="{{project}}">{{project}}</option>
            {% end %}
        {% end %}

        </select>
        </li></td><td>
        {% if parent_project == 'American Gut' and len(proj_barcode_info) > 1 %}
          <input type="hidden" name="sent_date" value="{{proj_barcode_info['date_of_last_email']}}" />
          <input type="hidden" name="login_user"  value="{{proj_barcode_info['login_user']}}" />
          <input type="hidden" name="login_email" value="{{proj_barcode_info['email']}}" />
          <input type="hidden" name="email_type" value="{{proj_barcode_info['email_type']}}" />
          <input type="hidden" name="sample_date" id="sample_date" value="{{proj_barcode_info['sample_date']}}"/>
          <input type="hidden" name="sample_time" id="sample_time" value="{{proj_barcode_info['sample_time']}}"/>
          <input type="hidden" name="sample_site" id="sample_site" value="{{proj_barcode_info['site_sampled']}}"/>
            <h2>{{parent_project}} Details</h2>
             <li>
             Sample details: <br/>
             <table>
             <tr><td>Sample Date</td><td>{{proj_barcode_info['sample_date']}}</td></tr>
             <tr><td>Sample Time</td><td>{{proj_barcode_info['sample_time']}}</td></tr>
             <tr><td>Sample Site</td><td>{{proj_barcode_info['site_sampled']}}</td></tr>
             </table>
             </li>
             <li>
               Sample issues: <br />
                  <input class="checkbox" type="checkbox" name="sample_issue" id="moldy" value="moldy" {{proj_barcode_info['moldy_checked']}}/> 
                    <label for="moldy"> moldy (current: {{proj_barcode_info['moldy']}}) </label> <br />
                  <input class="checkbox" type="checkbox" name="sample_issue" id="overloaded" value="overloaded" {{proj_barcode_info['overloaded_checked']}}}/>
                    <label for="overloaded"> overloaded (current: {{proj_barcode_info['overloaded']}}) </label> <br />
                  <input class="checkbox" type="checkbox" name="sample_issue" id="other" value="other" {{proj_barcode_info['other_checked']}}/>
                    <label for="other"> other (current: {{proj_barcode_info['other']}}) </label> <br />
             </li>
             <li>
               Other notes: <br />
                  <textarea name="other_text" onclick="this.select()">{{proj_barcode_info['other_text']}}</textarea>
             </li>
             <li>
               Send an email notification (previously sent: {{proj_barcode_info['date_of_last_email']}}): <br />

               <table><tr>
                  <td> <input class="checkbox" type="checkbox" name="send_mail" id="send_mail" value="send_mail" style="float:left;" checked /> </td>
                  <td><label for="send_mail" style="display:block;">send kit owner {{proj_barcode_info['login_user']}} ({{proj_barcode_info['email']}}) an email </label> </td></tr>

            {% if email_type == '0' %}
            <tr><td></td><td>
            sample date: <input type="text" name="sample_date" id="sample_date" style="width:100px"/> <br/>
                        <script>
                          $(function() {
                            $( "#sample_date" ).datepicker({
                                    changeMonth: true,
                                    maxDate: '+0m',
                                    onSelect: function(dateText, inst) {
                                        $(this).focus();
                                    }
                            });
                          });
                        </script>
            </td></tr>
            <tr><td></td><td>
            sample time: <input type="text" name="sample_time" id="sample_time" style="width:100px"/> <br />
                  <script>
                      $(function() {
                        $( "#sample_time" ).timepicker({
                           showPeriod: true,
                           showLeadingZero: true,
                           onSelect: function(dateText, inst) {
                              $(this).focus();
                           }
                        });
                      });
                  </script>
            </td></tr>

            {% elif email_type == '1' %}
            <input type="hidden" name="sample_time" value="{{sample_time}}" />
            <input type="hidden" name="sample_date" value="{{sample_date}}" />
{% end %}
            </table>
           </li>
           <li>
            <a href="/ag_edit_barcode/?barcode={{barcode}}">Edit American Gut Barcode</a>
           </li>
          </ul>
{% end %}
          </td></tr></table><br /><br />
              <input type="submit" value="Submit">
              <input type="reset" value="Reset!">
        </form>
        </div>
{% end %}
{% end %}
{% end %}
