{% extends logged_in_index.html %}
{% block head %}
<script type="text/javascript">
  $(document).ready(function() {
    // Attach a function to the library-prep-select change event so we
    // can load the appropriate
    $('#library-prep-select').change(function(e) {
      var url = "";
      if ($(this).val() === 'target-gene') {
        url = "/pm_library_prep/target_gene/";
      } else if ($(this).val() === 'metagenomics') {
        url = "/pm_library_prep/metagenomics/";
      }
      $.get(url, function (data) {
        $('#library-prep-div').html(data);
      });
    });
  });
</script>
{% end %}
{% block content %}
<h3>Prepare a new library</h3>

<div class="container">
  <div class="row">
    <div class="col-xs-12 form-group">
      <label>Select library type:</label>
      <select class="form-control" id='library-prep-select'>
        <option value="" selected disabled>Please select</option>
        <option value="target-gene">Target Gene survey</option>
        <option value="metagenomics">Metagenomics</option>
      </select>
    </div>
  </div>
</div>

<div class="container" id="library-prep-div">
</div>
{% end %}
