{% extends logged_in_index.html %}
{% block head %}
<script type="text/javascript">
  function validateForm(e) {
    // Deactivate form submission as we are managing what to do here
    e.returnValue = false;

    $('#pm-submit-btn').prop('disabled', true);

    var formData = new FormData($('#pm-form')[0]);

    $.ajax({
      url: '/pm_library_prep/metagenomics/',
      data: formData,
      processData: false,
      contentType: false,
      type: 'POST',
      success: function(data){
        var win = window.open('/pm_library_prep/metagenomics/echo/?plate_id={{plate['shotgun_normalized_plate_id']}}&volume=' + formData.get('volume'), '_blank');
        setTimeout(function () {
          window.location.href = "/pm_shotgun_pool/?plate_id={{plate['shotgun_normalized_plate_id']}}";
        }, 1000);
      }
    });
  }
</script>
{% end %}
{% block content %}
<h3>Prepare shotgun library for plate <b>{{plate['name']}}</b> <i>(ID: {{plate['shotgun_normalized_plate_id']}})</i></h3>

<div class='container'>
  <form action="/pm_library_prep/metagenomics/" method="post" onsubmit="validateForm(event);" id="pm-form">
    <input type='hidden' name='plate-id' value="{{plate['shotgun_normalized_plate_id']}}"/>
    <!-- First row -->
    <div class='row'>
      <div class='col-xs-4 form-group'>
        <label>Choose index protocol</label>
        <select class="form-control" name="idx-tech" required>
          {% for pr in idx_protocols %}
            <option value='{{pr}}'>{{pr}}</option>
          {% end %}
        </select>
      </div>
      <div class='col-xs-4 form-group'>
        <label>Choose mosquito</label>
        <select class="form-control" name="mosquito" required>
          {% for m in mosquitos %}
            <option value='{{m['name']}}'>{{m['name']}}</option>
          {% end %}
        </select>
      </div>
      <div class='col-xs-4 form-group'>
        <label>Choose library prep kit</label>
        <select class="form-control" name="kit" required>
          {% for lk in library_kits %}
            <option value='{{lk['name']}}'>{{lk['name']}}</option>
          {% end %}
        </select>
      </div>
    </div>
    <!-- Second row -->
    <div class='row'>
      <div class='col-xs-4 form-group'>
        <label>Index aliquot:</label>
        <select class="form-control" name="aliquot" required>
          {% for a in aliquots %}
            <option value='{{a['id']}}'>{{a['name']}}</option>
          {% end %}
        </select>
      </div>
      <div class='col-xs-4 form-group'>
        <label>Index volume (&mu;L)</label>
        <input class="form-control" type='number' step='0.01' name='volume' required/>
      </div>
    </div>
    <!-- Submit button -->
    <div class="row">
      <div class="col-xs-12 form-group">
        <button type="submit" class="btn btn-primary" id='pm-submit-btn'>Prepare library</button>
      </div>
    </div>
  </form>
</div>

{% end %}
