<!-- The Plate Mapper module -->
<!-- Plate map -->
<!-- Qiyun Zhu -->

{% extends logged_in_index.html %}
{% block head %}
{% from json import dumps %}
<script type="text/javascript" src="/static/js/labmin.js"></script>
<script type="text/javascript" src="/static/vendor/js/jquery.validate.min.js"></script>
<style>
  p {
    font-weight: bold;
  }
  button {
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 80%;
  }
  #plate_info {
    /*border-collapse: collapse;*/
  }
  #plate_info td {
    margin: 0;
    padding: 0;
  }
  #plate_info td:nth-child(odd) {
    width: 150px;
    text-align: right;
    padding-right: 20px;
    font-size: 80%;
    vertical-align: middle;
  }
  #plate_info td:nth-child(even) {
    width: 300px;
    border: 1px solid black;
  }
  input.field {
    display: block;
    text-align: left;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    border-radius: 0;
    line-height: 2.5;
    background-color: rgba(255,247,188,0.25);
  }
  input.field:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 20px #719ECE;
    background-color: white;
  }
  #plate_map {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }
  #plate_map td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    background-color: rgba(255,247,188,0.75);
  }
  input.cell {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    border-radius: 0;
    line-height: 2.5;
  }
  input.cell:focus {
    outline: none;
    /*border-color: #719ECE;*/
    box-shadow: inset 0 0 5px rgb(44,127,184); /*#719ECE;*/
    background-color: white;
  }
</style>
<script type="text/javascript">
  var id;
  var info;
  var type;
  var currentuser;
  var map = {};  // col_row => sample_id
  var fields = ['Plate ID', 'Name', 'Plated by', 'Plate type',
                'Barcode template', 'Linker sequence', 'Extraction kit lot',
                'Extraction robot', 'TM1000-8 tool', 'Master mix lot',
                'Water lot', 'Processing robot', 'TM300-8 tool',
                'TM50-8 tool', 'Notes'];

  $(document).ready(function(){
    id = {{id}};
    type = {{type}};
    info = {{info}};
    currentuser = "{{currentuser}}";
    $("input.cell").on("click", function () {
      alert("wahhhhh");
      // alert($(this).value());
    });
  });

  window.onload = function() {
    if (id > 0) {  // View/edit an existing plate
      // The plate map is represented as map[col_row] => sample
      var map0 = {{map}};
      for (var i = 0; i < map0.length; i++) {
        map[map0[i][0] + "_" + map0[i][1]] = map0[i][2];
      }
      $("#plate_id").html("Plate # " + id.toString() + ": ");
      $("#plate_name").val(info[1]);
      $("#plated_by").val(info[2]);
    } else {  // Create a new plate
      $("#plated_by").val(currentuser);
    }

    // Generate plate title
    var name = info[1];
    var email = info[2]

    // Generate plate info

    var table = document.getElementById("plate_info");
    var row;
    for (var i = 4; i < 15; i++) {
      if (i % 2 == 0) {
        row = table.insertRow();
      }
      var cell = row.insertCell(-1);
      cell.innerHTML = fields[i];
      var cell = row.insertCell(-1);
      if (i == 14) {
        cell.colSpan = "3";
      }
      var field = fields[i][0];
      cell.innerHTML = "<input class='field', type='text', id='field_" + i.toString() + "', value='" + info[i] + "'>";
    }

    // Generate plate map
    var table = document.getElementById("plate_map");
    table.innerHTML = "";
    var ncol = type['cols'];
    var nrow = type['rows'];
    for (var i = 0; i <= nrow; i++) {
      var row = table.insertRow();
      var row_html = "";
      for (var j = 0; j <= ncol; j++) {
        if (i == 0) {
          if (j == 0) {
            row_html += "<td width=20></td>";
          } else {
            row_html += "<td>" + j.toString() + "</td>";
          }
        } else if (j == 0) {
          row_html += "<td>" + String.fromCharCode(64 + i); + "</td>";
        } else {
          var well = j.toString() + "_" + i.toString();
          var sample = "";
          if (map.hasOwnProperty(well)) {
            sample = map[well];
          }
          row_html += "<td><input class='cell', type='text', data-sample='" + sample + "'></td>";
        }
      }
      row.innerHTML = row_html;
    }
    $("input.cell").each(function() {
        $(this).val($(this).attr("data-sample").replace(/\b0+/g, ''));
    });
  }

</script>
{% end %}

{% block content %}
<h3>Plate Editor</h3>
<div style="padding-left:20px;padding-right:20px;">
<p>
  <label id="plate_id">Create new plate: </label>
  <input type="text", id="plate_name", style="width:200px", data-plate-id=0>
  <label> by </label>
  <input type="text", id="plated_by", style="width:100px", data-plated-by="" readonly>
  <span style="float:right">
    <button onclick="location.href='/pm_plate_map/?id=1';">&lt;&lt;</button>
    <button onclick="location.href='/pm_plate_map/?id='+(id-1).toString();">&lt;</button>
    <button onclick="location.href='/pm_plate_map/?id='+(id+1).toString();">&gt;</button>
    <button onclick="location.href='/pm_plate_map/?id=-1';">&gt;&gt;</button>
    |
    <button onclick="location.href='/pm_plate_map/?id=0';">Create new plate</button>
  </span>
</p>
<p><button onclick="$('#div_plate_info').toggle();">Plate Info</button></p>
<div id="div_plate_info">
  <table id="plate_info"></table>
</div>
<p><button onclick="$('#div_plate_map').toggle();">Plate Map</button></p>
<div id="div_plate_map">
  <table id="plate_map"></table>
</div>
<p><button>Save changes</button></p>
</div>
{% end %}
