<!-- The Plate Mapper module -->
<!-- Plate list -->

{% extends auth_sitebase.html %}
{% block head %}
<script type="text/javascript">

  function getSelectedPlates(limit) {
    var selected = [];
    $.each($('.selected'), function(idx, p) {
      selected.push($(p).data('pm-plate-id'));
    });

    if (selected.length == 0) {
      $('#pm-warn-msg').text("Please choose at least one plate");
      $('#pm-warning').show();
    } else if (limit > 0 && selected.length > limit) {
      $('#pm-warn-msg').text("Please choose no more than " + limit + " plates");
      $('#pm-warning').show();
      selected = [];
    }

    return selected;
  };

  function openPlateMap() {
    var plate = getSelectedPlates(1);
    if (plate.length > 0) {
      // We know for sure that there is only 1 plate -> idx 0
      window.location.href = "/pm_sample_plate?plate_id=" + plate[0];
    }
  };

  function extractPlates() {
    var plates = getSelectedPlates();
    if (plates.length > 0) {
      var url = "/pm_extract_plate?plate_id=" + plates[0];
      for (var i = 1; i < plates.length; i++) {
        url += "&plate_id=" + plates[i]
      }
      window.location.href = url;
    }
  };

  // This is not strictly needed now, but I stubbed it out
  // function discardPlates(plateType) {
  //   console.log('TODO - discard plates');
  // };
  // function normalizePlates() {
  //   console.log('TODO - normalize');
  // };

  function targetedPrep() {
    var plates = getSelectedPlates();
    if (plates.length > 0) {
      var url = "/pm_library_prep/target_gene/?plate_id=" + plates[0];
      for (var i = 1; i < plates.length; i++) {
        url += "&plate_id=" + plates[i]
      }
      window.location.href = url;
    }
  };

  function targetedPool() {
    var plates = getSelectedPlates();
    if (plates.length > 0) {
      var url = "/pm_targeted_pool/?plate=" + plates[0];
      for (var i = 1; i < plates.length; i++) {
        url += "&plate=" + plates[i]
      }
      window.location.href = url;
    }
  };

  function create_table(data) {
    $('#table-div').empty();
    var $table = $('<table>').addClass('table').appendTo($('#table-div'));
    // Create the table header
    var $thead = $('<thead>').appendTo($table);
    var $tr = $('<tr>').appendTo($thead);
    for (var header of data.headers) {
      $('<th>').css('text-transform', 'capitalize').text(header.replace('_', ' ')).appendTo($tr);
    }

    var $tbody = $('<tbody>').appendTo($table);
    for (var plate of data.plates) {
      $tr = $('<tr>').appendTo($tbody).data('pm-plate-id', plate['id']);
      for (var header of data.headers) {
        $('<td>').html(plate[header]).appendTo($tr);
      }
    }

    $table.DataTable({
      pageLength: 10
    });

    $tbody.on('click', 'tr', function(){
        $(this).toggleClass('selected');
    });
  };


  $(document).ready(function(){
    $('#plate-type-sel').change(function () {
      var val = $('#plate-type-sel').val();
      $.getJSON('/pm_plate_list/' + val + '/', create_table);
      $('.pm-list-btns').hide();
      $('#' + val + '-btns').show();
    });

    $('.pm-list-btns').hide();
    $('#pm-warning').hide();
  });
</script>
{% end %}

{% block content %}
<h3 id="page-title">Plate List</h3>

<div class="container">
  <!-- Choose list to show -->
  <div class="row">
    <div class="col-xs-6 form-group">
      <label>Choose plate type</label>
      <select id="plate-type-sel" class="form-control">
        <option value="" disabled selected>Choose list</option>
        <option value="sample">Sample plate</option>
        <option value="dna">DNA plate</option>
        <option value="targeted">Target Gene plate</option>
        <!-- <option value="shotgun">Shotgun plate</option>
        <option value="normalized">Shotgun normalized plate</option> -->
      </select>
    </div>
  </div>
  <div class="row pm-list-btns" id='pm-warning'>
    <div class="col-xs-12 form-group">
      <p class='warning' id='pm-warn-msg'></p>
    </div>
  </div>
  <!-- Buttons for different lists -->
  <!-- Sample plate list buttons -->
  <div class="row pm-list-btns" id='sample-btns'>
    <div class="col-xs-1 form-group">
      <a href="/pm_create_plate/" class="btn btn-info form-control"><span class="glyphicon glyphicon-plus"></span> New</a>
    </div>
    <div class="col-xs-1 form-group">
      <a class="btn btn-info form-control" onclick="openPlateMap();"><span class="glyphicon glyphicon-eye-open"></span> View</a>
    </div>
    <div class="col-xs-2 form-group">
      <a class="btn btn-success form-control" onclick="extractPlates();"><span class="glyphicon glyphicon-share"></span> Extract</a>
    </div>
    <!-- <div class="col-xs-2 form-group">
      <a class="btn btn-danger form-control" onclick="discardPlates('sample');"><span class="glyphicon glyphicon-remove"></span> Discard</a>
    </div> -->
  </div>
  <!-- DNA plate list buttons -->
  <div class="row pm-list-btns" id='dna-btns'>
    <div class="col-xs-2 form-group">
      <a class="btn btn-success form-control" onclick="targetedPrep();"><span class="glyphicon glyphicon-modal-window"></span> Targeted Prep</a>
    </div>
  </div>
  <!-- targeted plate list buttons -->
  <div class="row pm-list-btns" id='targeted-btns'>
    <div class="col-xs-1 form-group">
      <a class="btn btn-success form-control" onclick="targetedPool();">Pool</a>
    </div>
    <!-- <div class="col-xs-1 form-group">
      <a class="btn btn-danger form-control" onclick="discardPlates('targeted');">Discard</a>
    </div> -->
  </div>
  <!-- shotgun plate list buttons -->
  <div class="row pm-list-btns" id='shotgun-btns'>
    <div class="col-xs-1 form-group">
      <button class="btn btn-success form-control" onclick="normalizePlates();">Normalize</button>
    </div>
  </div>
  <!-- normalized shotgun plate list buttons -->
  <div class="row pm-list-btns" id='normalized-btns'>
    <div class="col-xs-1 form-group">
      <button class="btn btn-info form-control">Pool</button>
    </div>
  </div>
  <!-- Actual table list -->
  <div class="row">
    <div class="col-xs-12" id='table-div'></div>
  </div>
</div>
{% end %}
