{% extends logged_in_index.html %}
{% block content %}
<h3>Shotgun Pooling {{name}} (id: {{plate_id}})</h3>

<div class="container">
  <form enctype="multipart/form-data" action="/pm_shotgun_pool/" method="post">

    <input type="hidden" value="{{plate_id}}" name="plate-id">
    <input type="hidden" value="{{name}}" name="plate-name">

    <div class="row">
      <!-- minimum concentration -->
      <div class="col-xs-4 form-group">
        <label class="center-block">Minimum Concentration (nM)</label>
        <input class="form-control" name="minimum-concentration" type="number" min="0" max="1000" id='minimum-concentration' required/>
      </div>
      <!-- floor concentration -->
      <div class="col-xs-4 form-group">
        <label class="center-block">Floor Concentration (nM)</label>
        <input class="form-control" name="floor-concentration" type="number" min="0" max="1000" id='floor-concentration' required/>
      </div>
      <!-- total -->
      <div class="col-xs-4 form-group">
        <label class="center-block">Total Quantity (nM)</label>
        <input class="form-control" name="total-quantity" type="number" min="0" max="1000" id='total-quantity' required/>
      </div>
    </div>

    <div class="row">
      <!-- qpcr machine select -->
      <div class="col-xs-6 form-group">
        <label>qPCR Machine</label>
        <select name='qpcr-machine'>
          {% for machine in machines %}
            <option value='{{machine['id']}}'>{{machine['name']}}</option>
          {% end %}
        </select>
      </div>
      <!-- read out file -->
      <div class="col-xs-6 form-group">
        <label>qPCR read out file</label>
        <input class="form-control" type="file" name="qpcr-readout-fp" required/>
      </div>
    </div>

    <!-- Submit button -->
    <div class="row">
      <div class="col-xs-12 form-group">
        <button type="submit" class="btn btn-primary">Pool</button>
      </div>
    </div>
  </form>
</div>
{% end %}
