{% extends logged_in_index.html %}
{% block head %}
{% from json import dumps %}
<script></script>
{% end %}
{% block content %}
<h3>Prepare sequencing run for sample pool: {{pool['name']}} (ID: {{pool['id']}})</h3>
<div class='container'>
  <form action="/pm_sequence/" method="post">
    <div class="row">
      <!-- Platform -->
      <div class='col-xs-4 form-group'>
        <label>Platform:</label>
        <select name="platform" class="form-control" required>
          {% for p in ['Illumina'] %}
            <option value='{{p}}'>{{p}}</option>
          {% end %}
        </select>
      </div>
      <!-- Instrument model -->
      <div class='col-xs-4 form-group'>
        <label>Instrument model:</label>
        <select name="instrument_model" class="form-control" required>
          {% for im in ['MiSeq', 'HiSeq 2500', 'HiSeq 2500 Rapid Run', 'HiSeq 4000'] %}
            <option value='{{im}}'>{{im}}</option>
          {% end %}
        </select>
      </div>
      <!-- Assay -->
      <div class='col-xs-4 form-group'>
        <label>Assay:</label>
        <select name="assay" class="form-control" required>
          {% for rt in ['Kapa Hyper Plus', 'TrueSeq HT'] %}
            <option value='{{rt}}'>{{rt}}</option>
          {% end %}
        </select>
      </div>
    </div>
    <div class="row">
      <!-- Reagent type -->
      <div class='col-xs-4 form-group'>
        <label>Reagent type:</label>
        <select name="reagent_type" class="form-control" required>
          {% for rt in ['MiSeq v3 150 cycle'] %}
            <option value='{{rt}}'>{{rt}}</option>
          {% end %}
        </select>
      </div>
      <!-- Reagent lot -->
      <div class='col-xs-4 form-group'>
        <label>Reagent lot:</label>
        <input name="reagent_lot" class="form-control" type="text" />
      </div>
    </div>
    <div class="row">
      <!-- Fwd cycles -->
      <div class='col-xs-4 form-group'>
        <label>Number of forward cycles:</label>
        <input name="fwd_cycles" class="form-control" type="number" min="1" value="151" required/>
      </div>
      <!-- Rev cycles -->
      <div class='col-xs-4 form-group'>
        <label>Number of reverse cycles:</label>
        <input name="rev_cycles" class="form-control" type="number" min="1" value="151" required/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 form-group">
        <input type="hidden" name="pool_id" value="{{pool['id']}}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  <form>
</div>
{% end %}
