{% extends logged_in_index.html %}
{% block head %}
{% from json import dumps %}
<script>
  function loadGUI(plates, idx){
    $("#raw-div").empty();
    $("#mod-div").empty();
    var raw = new DNAConcVis("raw-div", plates[idx], false);
    var mod = new DNAConcVis("mod-div", plates[idx], true);
    $('#pm-name').html(plates[idx]['name']);
    $('#pm-counter').html('(' + (idx + 1) + ' of ' + plates.length + ')');
    $("#general-div").data('pm-idx', idx);

    $("#pm-prev").prop('disabled', false);
    $("#pm-next").prop('disabled', false);
    $("#pm-pool").prop('disabled', true);
    if (idx === 0) {
      $("#pm-prev").prop('disabled', true);
    }
    if (idx === plates.length - 1) {
      $("#pm-next").prop('disabled', true);
      $("#pm-pool").prop('disabled', false);
    }
  };

  function _getWellValue(plate, row, col) {
    var val = parseFloat($('#pm-norm').val()) / plate['raw_concentration'][row][col];
    plate['color_class'][row][col] = '';
    if (plate['bool_blanks'][row][col]) {
      val = $('#pm-filter-blanks').val();
      plate['color_class'][row][col] = 'pm-conc-blank';
    } else if (val < 0) {
      // If the value is negative we need to set to 0
      val = 0;
      plate['color_class'][row][col] = 'pm-conc-diff';
    } else if (val >= $('#pm-filter-max').val()) {
      // If the value is above the maximum we need to set to 2
      val = 2;
      plate['color_class'][row][col] = 'pm-conc-max';
    } else if (val < $('#pm-filter-min').val()) {
      // If the value is smaller than the minimum we set it to the minimum
      val = $('#pm-filter-min').val();
      plate['color_class'][row][col] = 'pm-conc-min';
    }
    return val;
  };

  function updateMod(plate) {
    for (var i = 0; i < plate['rows']; i++) {
      // Apply the filters
      for (var j = 0; j < plate['cols']; j++) {
        plate['mod_concentration'][i][j] = _getWellValue(plate, i, j);
      }
    }
    $("#raw-div").empty();
    $("#mod-div").empty();
    var raw = new DNAConcVis("raw-div", plate, false);
    var mod = new DNAConcVis("mod-div", plate, true);
  };

  $(document).ready(function () {
    var plates = {% raw dumps(plates) %};

    for (var plate of plates) {
      // Initialize a matrix mapping the blanks for easy access
      plate['bool_blanks'] = new Array(plate['rows']);
      plate['color_class'] = new Array(plate['rows']);
      for (var i = 0; i < plate['rows']; i++) {
        plate['bool_blanks'][i] = new Array(plate['cols']).fill(false);
        plate['color_class'][i] = new Array(plate['cols']).fill(false);
      }
      for (var blank of plate['blanks']) {
        plate['bool_blanks'][blank[1]][blank[2]] = true;
      }

      // Initialize the mod_concentration if we don't have it
      if (plate['mod_concentration'] === null) {
        plate['mod_concentration'] = new Array(plate['rows']);
        for (var i = 0; i < plate['rows']; i++) {
          plate['mod_concentration'][i] = new Array(plate['cols']);
          // Apply the filters
          for (var j = 0; j < plate['cols']; j++) {
            plate['mod_concentration'][i][j] = _getWellValue(plate, i, j);
          }
        }
      }
    }

    loadGUI(plates, 0);
    $('#pm-prev').click(function(e) {
      var idx = $("#general-div").data('pm-idx') - 1;
      loadGUI(plates, idx);
    });

    $('#pm-next').click(function(e) {
      var idx = $("#general-div").data('pm-idx') + 1;
      loadGUI(plates, idx);
    });

    $('#pm-pool').click(function(e) {
      var form = $('<form>', {action: '', method: 'post'});
      $('<input>').attr({type: 'hidden', name: 'plates', value: JSON.stringify(plates)}).appendTo(form);
      form.appendTo('body').submit();
    });

    $('#pm-filter-min').change(function () {
      updateMod(plates[$("#general-div").data('pm-idx')]);
    });

    $('#pm-filter-max').change(function () {
      updateMod(plates[$("#general-div").data('pm-idx')]);
    });

    $('#pm-filter-blanks').change(function () {
      updateMod(plates[$("#general-div").data('pm-idx')]);
    });

    $('#pm-norm').change(function () {
      updateMod(plates[$("#general-div").data('pm-idx')]);
    });

    $('#pm-epmotion').click(function () {
      var $form = $('<form>', {action: '/pm_targeted_pool_epmotion/', method: 'post', target:'_blank' });
      $('<input>').attr({type: 'hidden', 'name': 'plate', value: JSON.stringify(plates[$("#general-div").data('pm-idx')])}).appendTo($form);
      $('<input>').attr({type: 'hidden', 'name': 'destination', value: $('#pm-destination').val()}).appendTo($form);
      console.log($('#pm-destination').val());
      $form.appendTo('body').submit()
    });
  });
</script>
{% end %}
{% block content %}
<div class="container" id="general-div">
  <div class="row">
    <div class="col-xs-9 form-group">
      <label><h3>Check concentration values - Plate: <b id="pm-name"></b> <i id='pm-counter'></i></h3></label>
    </div>
    <div class="col-xs-1">
      <button id='pm-prev' class='btn btn-info'><i class='glyphicon glyphicon-triangle-left'></i> Prev</button>
    </div>
    <div class="col-xs-1">
      <button id='pm-next' class='btn btn-info'>Next <i class='glyphicon glyphicon-triangle-right'></i></button>
    </div>
    <div class="col-xs-1">
      <button id='pm-pool' class='btn btn-success'>Pool <i class='glyphicon glyphicon-fast-forward'></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 form-group">
      <label>Normalization value (ng):</label>
      <input type="number" id="pm-norm" min=0 value=240 step=0.001 value=240/>
    </div>
    <div class="col-xs-4 form-group">
      <label>Blanks value (&mu;L):</br>(blank wells will be set to this value)</label>
      <input type="number" id="pm-filter-blanks" min=0 value=2 step=0.001 />
    </div>
    <div class="col-xs-4 form-group">
      <label>EPMotion destination:</label>
      <input type="number" id="pm-destination" min=1 max=24 value=1 />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 form-group">
      <label>Minimum concentration: (ng/&mu;L)</br>(values lower than this will be set to this value)</label>
      <input type="number" id="pm-filter-min" min=0 value=1 step=0.001 />
    </div>
    <div class="col-xs-4 form-group">
      <label>Maximum concentration: (&mu;L)</br>(values higher than this will be set to 0)</label>
      <input type="number" id="pm-filter-max" min=0 value=20 step=0.001 />
    </div>
    <div class="col-xs-4 form-group">
      <button class="btn btn-info" id="pm-epmotion"><span class='glyphicon glyphicon-export'></span> Download EPMotion file</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 form-group">
      <label>Concentration values (ng/&mu;L):</label>
    </div>
  </div>
  <div class="container" id="raw-div"></div>
  <div class="row">
    <div class="col-xs-12 form-group">
      <label>EPMotion volume values (&mu;L):</label>
    </div>
  </div>
  <div class="container" id="mod-div"></div>
</div>

{% end %}
